# Node.js
node_modules/

# Environment variables
.env

# User data
user_data/

# Dependency directories
/bin/
/build/
/lib/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment file
.env.local
.env.development.local
.env.test.local
.env.production.local

# VS Code directories
.vscode/

# JetBrains directories
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
